<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">
    <button id="show-setup-dialog" type="button" data-bind="click: function(){ showDialog('setup') }"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored setup-btn">
      Setup
    </button>
  </div>
  <div class="mdl-cell mdl-cell--2-col" data-bind="with: conversation">
    <button id="start-conversation" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored start-stop-btn"
            data-bind="click: toggleConversation, text: startStop, css: {'mdl-color--red-700': startStop() == 'Stop', 'mdl-color--green-700': startStop() == 'Start' }, enable: $parent.selectedTopic()">
    </button>
  </div>
  <div class="mdl-cell mdl-cell--5-col">
    <div class="mdl-typography--headline mdl-typography--text-left" data-bind="visible: selectedTopic"> <!-- Appears when you select something -->
      Topic: <span data-bind="text: selectedTopic() ? selectedTopic().name: 'unknown' "></span>.
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col">
    <button id="show-transcript" data-bind="click: function(){ showDialog('transcript') }"
            class="mdl-button mdl-js-button mdl-button--accent">
      Show Transcript
    </button>
  </div>
</div>


<dialog class="mdl-dialog" id="setup-dialog">
  <h4 class="mdl-dialog__title mdl-typography--text-center">Speech recognition setup</h4>
  <div class="mdl-dialog__content mdl-typography--text-left">

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#conversation-panel" class="mdl-tabs__tab is-active">Conversation</a>
        <a href="#upload-panel" class="mdl-tabs__tab">Setup</a>
      </div>

      <div class="mdl-tabs__panel is-active" id="conversation-panel">
        <p>

          Topic:
          <select class="custom-select"
                  data-bind="options: topics,
                       optionsText: 'name',
                       value: selectedTopic,
                       optionsCaption: 'Choose...'"></select>
        </p>


        <p>
          Timeout:
          <input class="" type="number" id="timeout" data-bind="value: timeout"> secs
        </p>

        <p>
          Problem:
          <%= select_tag 'problem', options_from_collection_for_select(@problems, 'url', 'name') %>
        </p>
        <p>
          Transcript:
          <%= select_tag 'transcript',
                         options_from_collection_for_select(@transcripts, 'id', 'name'),
                         {'data-bind' => 'event: { change: updateUsers}'}
          %>
        </p>
        <p>

          User:
          <select class="custom-select"
                  data-bind="options: users,
                       optionsText: 'name',
                       value: selectedUser,
                       optionsCaption: 'Choose...'"></select>
        </p>
      </div>
      <div class="mdl-tabs__panel" id="upload-panel">


        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <h4>New problem statement</h4>
            <%= form_for @problem, url: problems_path, html: {multipart: true} do |form| %>
                <%= form.file_field :document %>
                <%= submit_tag 'Submit' %>
            <% end %>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <h4>Setup Transcript</h4>
            <%= form_for @transcript, remote: true, url: transcripts_path, html: {multipart: true} do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name %>
                <%= f.label :user1 %>
                <%= f.text_field :user1 %>
                <%= f.label :user2 %>
                <%= f.text_field :user2 %>
                <%= submit_tag 'Submit' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close" data-bind="click: finishSetup">
      Done
    </button>
  </div>
</dialog>


